body.n {
	font-family: arial;
	color: #000000;
	background-color: #004a98; 
	margin-left:10px; 
	margin-top:0px;
	font-size: 11px;
}
body.h {
	background-color: #ffffff;
}
body.white {
	font-family: arial;
	color: #fb7922;
	background-color: #fb7922;
	font-size: 12px;

}
body.line {
	font-family: arial;
	color: #000000;
	background-image:solid;
	font-size: 12px;
}
body {
	display: inline-block;
	*display: inline;
	zoom:1;
	font-family: arial;
	color: #000000;
	background-color: #ffffff;
	font-size: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
}
h1 {
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	color: #004a98;
}
h2 {
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #004a98;
}
h3 {
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
td {
	font-family: arial;
	color: #000000;
	font-size: 10px;
}
a {
	font-family: arial;
	font-size: 12px;
}
.white {
	font-family: arial;
	color: #ffffff;
	font-weight: bold;
	font-size: 12pt;
}
.nhb {
	font-family: arial;
	color: #000000;
	font-weight: bold;
	font-size: 10pt;
}
.nh {
	font-family: arial;
	color: #ffffff;
	font-weight: bold;
	font-size: 12pt;
}
p {
	font-family: arial;
	color: #000000;
	font-size: 10px;
}
.navi {
	font-family: arial;
	background-color: #004a98;
	color: #ffffff;
	font-size: 10px;
	text-align: left;
}
.small {
	font-family: arial;
	color: #004a98;
	font-size: 10px;
}

.nrtitle {
	font-family: arial;
	background-color: #004a98;
	color: #ffffff;
	font-size: 14px;
}

a.n:link:focus, a.n:visited:focus {-moz-outline:0px;}
a.n:link { font-size: 10pt; color: #ffffff; font-weight:normal; text-decoration:none;}
a.n:visited { font-size: 10pt; color: #ffffff; font-weight:normal; text-decoration:none;}
a.n:active { font-size: 10pt; color: #ffffff; font-weight:normal; text-decoration:none;}
a.n:hover { font-size: 10pt; background-color: #ffffff; color: #004a98; font-weight:normal; text-decoration:none;}

a.nh:link:focus, a.nh:visited:focus {-moz-outline:0px;}
a.nh:link { font-size: 10pt; background-color: #ffffff; color: #004a98; font-weight:normal; text-decoration:none;}
a.nh:visited { font-size: 10pt; background-color: #ffffff; color: #004a98; font-weight:normal; text-decoration:none;}
a.nh:active { font-size: 10pt; background-color: #ffffff; color: #004a98; font-weight:normal; text-decoration:none;}
a.nh:hover { font-size: 10pt; background-color: #ffffff; color: #004a98; font-weight:normal; text-decoration:none;}

a:link { color: #bb3902; font-weight:normal; text-decoration:underline;}
a:visited { color: #bb3902; font-weight:normal; text-decoration:underline;}
a:active { color: #bb3902; font-weight:normal; text-decoration:underline;}
a:hover { color: #bb3902; font-weight:normal; text-decoration:underline;}

a.m:link:focus, o.n:visited:focus {-moz-outline:0px;}
a.m:link {    color: #000080; font-weight:normal; text-decoration:none;}
a.m:visited { color: #000080; font-weight:normal; text-decoration:none;}
a.m:active {  color: #ffffff; font-weight:normal; text-decoration:none;}
a.m:hover {   background-color: #ffffff; color: #004a98; font-weight:normal; text-decoration:none;}

input {
	font-family: arial;
	color: #000000;
	background-color: #ffffff;
	font-size: 10px;
}

.tag {
	background-color: #004a98;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;

}
.band {
	background-color: #004a98;	
	color: #ffffff;
	font-size: 18px;
	font-weight: normal;

}

.h {
	font-family: arial;
	color: #3c3c5c;
	background-color: #ffffff;
	font-size: 12px;
}
.d {
	font-family: arial;
	color: #ffffff;
	background-color: #004a98;
	font-size: 12px;
}
.black {
	font-family: arial;
	color: #000000;
	font-weight: normal;
	font-size: 12px;
}
.blue {
	font-family: arial;
	color: #3c3c5c;
	font-weight: normal;
	font-size: 10px;
	text-decoration: underline;
}
.big {
	font-family: arial;
	color: #000000;
	background-color: #ffffff;
	font-weight: bold;
	font-size: 12px;
}

.red {
	font-family: arial;
	color: #ffffff;
	background-color: #df0000;
	font-weight: bold;
	font-size: 10px;
}
.green {
	font-family: arial;
	color: #ffffff;
	background-color: #00df00;
	font-weight: bold;
	font-size: 10px;
}

.yellow {
	font-family: arial;
	color: #ffffff;
	background-color: #dfdf00;
	font-weight: bold;
	font-size: 10px;
}

#langsel {
	font-family: arial;
	font-size: 8px;
	vertical-align: bottom;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
#langsel div {
	float: right;
}
#langsel a {
	color: #000;	
	text-decoration: none;
	font-family: arial;
	font-size: 10px;
}
#langsel a:hover {
	text-decoration: underline;
}
#page {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 1180px;
}
.unitbox {
	background-color: #ffffff;
	margin-left:15px;
	
}
.headbox{
	width: 100%;
	height: 30px;
	outline: inherit;
	vertical-align: middle;
}
.contentbox{
	width: 100%;
	min-height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
}
.headtable {
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
	border-collapse:collapse;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.tdBlank{
	width:1px; /*5x menos que border-spacing de contenttable*/
}
.tdBlankW{
	min-width:4px;
}
.contenttable {
	width:100%;
	border-spacing: 6px;
	border-collapse: separate;
	margin-left: 0px;
	margin-right: 0px;
}

.contentcell {
	background-color: #e6e6e6;
	vertical-align: top;
	margin-left: 0px;
	margin-right: 0px;
}
.cth{
	background-color: #e6e6e6;
	font-size: 12px;
	color: black;
}
input.number {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
input[type=checkbox] {
	background-color: transparent;
}
input[type=checkbox].hidden {
	clip: rect(0 0 0 0);
	position: absolute;
}
input[type=text]::-ms-clear { display: none; }
.resetbutton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 18px;
	font-size: 10px;
	font-family: arial;
	border-radius: 3px;
	background-color: #E03030;
	color: #FFFFFF;
}
.togglebuttonlabel {
	font-size: 10px;
	font-family: arial;
	color: black;
	vertical-align: middle;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	width: 100%;
	height: 100%
}
.tabtitle {
	color: black;
	font-weight: bold;
	text-align: center;
	margin-bottom: 3px;
}
.head {
	color: #004a98;
	font-family: arial;
	font-weight: bold;
	font-size: 28px;
	text-align: center;
}
.tabval {
	font-family: arial;
	color: #802000;
	font-weight: bold;
	font-size: 9pt;
	white-space: nowrap;
}
.tval {
	color: #802000;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 10pt;
}
.fhd {
	width: 100%;
	color: #004a98;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.thd {
	white-space: nowrap;
}
.thdrht {
	white-space: nowrap;
	padding-left:12px;
	font-size: 11px;
	text-align: left;
}
.thdral {
	white-space: nowrap;
	font-size: 11px;
	text-align: left;
}
.thdlft {
	white-space: nowrap;
	text-align: left;
}
.ttitle {
	width: 100%;
	height: 17px;
	outline: inherit;
	background-color: #d8d8d8;
	color: #db5902;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: bolder;
	font-size: 11pt;
}
.vtext {
	text-align: left;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.tabbox {
}
.msgbox {
	min-height: 90px;
	background-color: #E6E6E6;
	font-family: arial;
	color: #000000;
	font-weight: normal;
	font-size: 12px;
	margin: 6px;
}
table.alarmTable {
	border-collapse: collapse;
}
th.alarmTable {
	border-collapse: collapse;
}
td.alarmTable {
	border-collapse: collapse;
}

table.fhelp {
	border-collapse: collapse;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}
th.fhelp {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
td.fhelp {
	padding-left: 10px;
	padding-right: 10px;
}
img.fhelp {
	width: 400px;
}
table.fhelpA {
	border-collapse: collapse;
	margin: 10px 10px 10px 10px;
}
div.toolcont {
	min-width:800px;
	min-height:500px;
}
.carriers {
	width: 600px;
	color: black;
}
h3.carriers {
	margin: 15px 15px 15px 15px;
	display: inline;
}
input.factory {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
div.factory {
	text-align: center;
	min-height: 12px;
	font-weight: bold;
}
select.factory {
	font-size: 10px;
}
table.bt {
}
.mlong span{display: none;list-style: none} .mlong {z-index:24;position:relative;}
.mlong:hover span{
	z-index:999;
	display:block;
	position:absolute;
	top:19px;
	left:1em;
	border:1px solid #000;
	background-color:rgb(255, 255, 255);
	color:#444;
	min-width:300px;
	font-size:12px;
	padding: 5px;
}